@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

body {
  background-color: rgb(241, 236, 200);
    text-align:center;
    font-family: 'Rajdhani', sans-serif;
    color:rgb(148, 28, 13)
}


.homepage {
  background: url("https://i.ibb.co/h97zD1C/homepage.png") no-repeat center center fixed; 
  text-align:center;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        background-size: cover;
        background-position:center ;
}

.login  {
  background: url("https://i.ibb.co/McGJ5rz/background.png") no-repeat center center fixed; 
        text-align:center;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        background-size: cover;
        background-position:center ;
}

.item-form {
  background: url("https://i.ibb.co/m9vMZM7/itemform.png") no-repeat center center fixed; 
  text-align:center;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        background-size: cover;
        background-position:center ;
}

.profile {
  background: url("https://i.ibb.co/HrgF0sX/profile.png") no-repeat center center fixed; 
  text-align:center;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        background-size: cover;
        background-position:center ;
}

.signIN {
    margin:400px 1000px 0 70px; 
    padding:0;
    text-align:center;
    font-family: 'Rajdhani', sans-serif;
}

.homePAGE {
    margin:135px 0px 0px 600px; 
    padding:0;
    text-align:center;
    font-family: 'Rajdhani', sans-serif;
}

.item-formPAGE {
    margin:85px 1000px 0 70px; 
    padding:0;
    text-align:center;
    font-family: 'Rajdhani', sans-serif;
}

.profile-info {
  margin:85px 1000px 0 70px; 
    padding:0;
    text-align:center;
    font-family: 'Rajdhani', sans-serif;
    float:left
}

.profile-donations {
  margin:0px 0px 0px 600px; 
    padding:0;
    text-align:center;
    font-family: 'Rajdhani', sans-serif;
    float:right
}

.profile-card {
 /* box-shadow: 0 4px 8px 0 rgba(255, 174, 0, 0.2);  */
  padding: 16px;
  text-align: center;
  /* margin: auto;  */
  /* margin-bottom: 15px;
  margin-top: 15px; */
  /* background-color: #e6d7a6; */
  /* border: salmon; */
  width:600px;
}

.profile-font {
  color:rgb(241, 236, 200)
}

.h3{
  background-color: rgb(190, 158, 89);
  color: aliceblue;
}


input {
  padding: 5px;
  margin:5px 0;
  border: 2px solid rgb(243, 141, 25);
  border-radius: 32px;
}

select {
   padding: 5px;
  margin:5px 0;
  border: 2px solid rgb(243, 141, 25);
  border-radius: 32px;
}

.column {
  float: left;
  width: 25%;
  /* height: 1200x; */
  padding: 0 10px;
}

.row {margin: 0 -5px;}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 2px 16px 30px 0 rgba(233, 191, 7, 0.2); 
  padding: 16px;
  text-align: center;
  margin:auto; 
  width: 250px;
  position: relative;
  border: 1px solid rgb(235, 162, 5);
}

.charity-card {
  box-shadow: 0 4px 8px 0 rgba(255, 174, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  margin: auto; 
  background-color: #f3e1a8;
  box-shadow: saddlebrown;
  border: salmon;
  width: 250px;
}

.form {
   position: sticky;
  width: 10%;
  bottom: 0.1px;
  /* border: 3px solid #8AC007; */
}

.form-card {
  box-shadow: 0 4px 8px 0 rgba(255, 174, 0, 0.2); 
  padding: 16px;
  text-align: center;
  margin: auto; 
  /* margin-bottom: 15px;
  margin-top: 15px; */
  background-color: #e6d7a6;
  border: salmon;
  width: 400px;
}

.item-card {
  box-shadow: 0 29px 50px 0 rgba(255, 255, 255, 0.2); 
  padding: 16px;
  text-align: center;
  margin:auto; 
  margin-bottom: 5px;
  margin-top: 0px; 
  width: 250px;
  position: auto;
  /* border: 2px solid rgb(235, 162, 5); */
  flex: 0 115 22%;
}

.container {
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.button {
  font-size: 0.9rem;
  height: 2rem;
  width: 15rem;
  text-align: center; 
  line-height: 0rem;
  color: rgb(124, 61, 46);
  background: rgb(248, 162, 81);
  /* border-radius: 10px; */
   margin:auto; 
  /* margin: 13px; */
  /* opacity: 0.50; */
  /* border-color:rgb(190, 158, 89) ;  */
  border: none;
  cursor: pointer;
}
.button:hover { 
background:rgb(161, 52, 38);
color: white } 

.button-delete-account {
  font-size: 0.6rem;
  height: 2rem;
  width: 8rem;
  text-align: center; 
  line-height: 0rem;
  color: rgb(255, 255, 255);
  background: rgb(190, 158, 89);
  border-radius: 10px;
  margin: 13px;
  /* opacity: 0.50; */
  border-color:rgb(190, 158, 89) ; 
  cursor: pointer;
}
.button-delete-account:hover { 
background:rgb(190, 158, 89) } 

.btn-toolbar {
  margin: 13px;

}

.action-button {
 font-size: 0.6rem;
  height: 2rem;
  width: 35px;
  text-align: center; 
  line-height: 0rem;
  color: rgb(252, 252, 252);
  background:  rgb(219, 117, 21);
  border-color: rgb(255, 255, 255);
  border-radius: 100px;
  cursor: pointer;
}

.signup-button {
  font-size: 0.6rem;
  height: 2rem;
  width: 100px;
  text-align: center; 
  line-height: 0rem;
  color: rgb(124, 61, 46);
  background: rgb(248, 162, 81);
  border: none;
  /* border-radius: 10px; */
  border-color:rgb(190, 158, 89) ; 
  cursor: pointer;
}
.signup-button:hover {
  background:rgb(161, 52, 38);
color: white }  


.item-button {
  font-size: 0.6rem;
  height: 1.5rem;
  width: 50px;
  text-align: center; 
  line-height: 0rem;
  color: rgb(255, 255, 255);
    background: rgb(248, 162, 81);
  border-color: rgb(255, 255, 255);
  /* border-radius: 100px; */
  border: none; 
  margin: 5px;
  cursor: pointer;
}
.item-button:hover { 
background:rgb(161, 52, 38);
color: white } 

.profile-button {
font-size: 0.6rem;
  height: 2rem;
  width: 100px;
  text-align: center; 
  line-height: 0rem;
  color: rgb(124, 61, 46);
  background: rgb(248, 162, 81);
  border: none;
  /* border-radius: 10px; */
  border-color:rgb(190, 158, 89) ; 
  cursor: pointer;
}
.profile-button:hover {
  background:rgb(161, 52, 38);
color: white }  


.donate {
  font-size: 0.9rem;
  height: 2rem;
  width: 8rem;
  text-align: center; 
  line-height: 0rem;
  color: rgb(124, 61, 46);
  background: rgb(248, 162, 81);
  /* border-radius: 10px; */
   margin:auto; 
  /* margin: 13px; */
  /* opacity: 0.50; */
  /* border-color:rgb(190, 158, 89) ;  */
  border: none;
  cursor: pointer;
}
.donate:hover { 
background:rgb(161, 52, 38);
color: white } 


.donation-button {
  font-size: 0.6rem;
  height: 2rem;
  width: 75px;
  text-align: center; 
  line-height: 0rem;
  color: rgb(124, 61, 46);
  background: rgb(248, 162, 81);
  border: none;
  /* border-radius: 10px; */
  border-color:rgb(190, 158, 89) ; 
  cursor: pointer;
}
.donation-button:hover {
  background:rgb(161, 52, 38);
color: white }  


.button-home {
  box-sizing: border-box;
    width: 15em;
    height: 3em;
    font-size: 20px;
    border-radius: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 3em;
    transition: 0.3s;
    cursor: pointer;
}

.button-home:nth-child(odd) {
    background: linear-gradient(to right, orange, tomato);
    text-align: left;
    padding-left: 10%;
    transform: perspective(500px) rotateY(45deg);
}

.button-home:nth-child(even) {
    background: linear-gradient(to left, orange, tomato);
    text-align: right;
    padding-right: 10%;
    transform: perspective(500px) rotateY(-45deg);
}

.button-home:nth-child(odd):hover {
    transform: perspective(200px) rotateY(45deg);
    padding-left: 5%;
}

.button-home:nth-child(even):hover {
    transform: perspective(200px) rotateY(-45deg);
    padding-right: 5%;
}
